@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & display=swap');

html 
 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg");
    background-size: cover; 
    min-height: fit-content;
  }
head
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3rem;
    text-align: center;
    margin-top: 70px;
    padding: 0;
    color: #fcfcfc;
    text-shadow: 3px 3px 1px black;
  }
   h2 
  {
    font-size: 1.1rem;;
    text-align: left;
    margin: 0;
    padding:20px 0 ;
    color: #FCFCFC;
    
   }
   .main
  {
   width: 400px;
   height: 500px;
   overflow: hidden;
   background: url("https://cdn.pixabay.com/photo/2019/04/06/06/44/astronaut-4106766_1280.jpg") no-repeat center/cover;
   border-radius: 50px;
   box-shadow: 5px 9px 5px #000000;
   position: relative;
   margin: 0 auto;
   margin-top: 150px;

  }
  button
  {
  width: 80%;
  height: 40px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:25px;
	border:1px solid #2639e9;
	display:inline-flex;
	cursor:pointer;
	color:#dbf5f7;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
  justify-content: center;
  text-align: center;
  }
  input
  {
    font-family: 'Montserrat', sans-serif;
     width: 80%;
     height: 40px;
     background-color: #FFFFFF;
     font-size: 25px;
     justify-content: center;
     display:flex;
     margin: 20px auto;
     padding: 10px;
     border:none;
     outline: none;
     border-radius: 25px;
  }
  .but
  {
    justify-content: center;
    align-items: center;  
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
  }